/* SKIN.CSS - Images and Color */
/*background: background-color | background-image | background-repeat | background-attachment | background-position*/

body.simulation { background: none;}

a img, img { border: none;}
#audiotranscript { color: #006600;}

.caption { color:#666;}

#content .button img { background: none; border: none;}

#content a { color: #274383;}

fieldset { border: none;}
p.footnote { color:#404040;}

.pdf { background: url(skin/icon-pdf.gif) no-repeat left top;}
.web { background: url(skin/web.gif) no-repeat left top;}

/*#kc-buttons a img { background: none;}*/

label { cursor: pointer;}

#mainmenu ul li.disabled a,
#mainmenu ul li.disabled { color: #999999;}

#content .simbox h4 { color: #194990;}
#content .simbox { background: #EEEEEE; border: 2px solid #CCCCCC;}
#content .simbox img { border: 0; background: 0;}
#content .simbox #graphic2 img { background:#FFFFFF; border: 1px solid #CCCCCC;}

#progresscontainer { background-color:#ffffff;}
#progressbar{ border-top:1px solid black; border-bottom:1px solid black; color:black;}
#progressbar #progressindicator { background-color:#00ff00;}

table.datatable { border-top: 1px solid #666666; border-left: 1px solid #666666;}
table.datatable th,
table.datatable td { border-bottom: 1px solid #666666; border-right: 1px solid #666666;}
table.datatable th { background: #CCCCCC;}
table.helptable th,
table.helptable td { border-bottom: 2px solid #666666;}
table.helptable th { background: #CCCCCC;}