body{
    color: #000;
}

/*set width and height for the main-content and wrapper container*/
#main-content .container, 
#wrapper-container.container{
    max-width: 1000px;
    min-height: 600px;
    margin: 0;
}

#main-content .container{
    padding: 15px;

    background-image: url(images/globeBgImg.png);
    background-position-x: 50%;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-content{
    margin-top: -1px;
}

#parallaxSceneBg{
    min-height: 600px;

    background-image: url(images/diagonalLinePattern.png);
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #74a4d9;
}

#page-content-container{
    min-height: 600px;
    position: relative;
    margin: 15px 0;
}

#rdLoadingScreen::before,
#rdLoadingScreen::after{
    position: fixed;
    top: 55%;
}

#rdLoadingScreen::before{
    content: "Loading";
    color: #fff;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-top: -110px;
}

@-webkit-keyframes spinner {
    0% {
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
              transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
              transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
              transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
              transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }

  #rdLoadingScreen::after {
    -webkit-animation: 1.5s linear infinite spinner;
            animation: 1.5s linear infinite spinner;
    -webkit-animation-play-state: inherit;
            animation-play-state: inherit;
    border: solid 5px #fff;
    border-bottom-color: #4366A3;
    border-radius: 50%;
    content: "";
    height: 60px;
    width: 60px;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    /*will-change: transform;*/
  }

.wrapperPageContentParent{
    background: linear-gradient(#13284d, #2d446c);
}

.white-space-norm{
    white-space: normal;
}

.hidden{
    display: none;
}

a{
    color: #0047c9;
}
a:visited,
a.userVisited{
    color: #6c48ab;
}
a:hover{
    color: #0038a1;
}
a.userVisited:hover{
    color: #4e2d86;
}

.subhead2{
    color: #2d2d2d;;
    font-weight: 300;
}

hr.divider{
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #b5b5b5;
}

.text-box{
    background-color: rgba(0,0,0,0);
    margin-bottom: 15px;
    border: none;
}

/*Set the bottom margin to 0, of things like <p>*/
.contentBox > .card-body *:last-child,
.sidebar .card-body *:last-child,
.showMoreCard > .card-body *:last-child{
    margin-bottom: 0px;
}

.card-body > h2{
    margin-bottom: 1rem;
}

.card{
    margin-bottom: 1rem;
}

img.drop-shadow,
.card.drop-shadow{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.image-caption{
    font-size: .9rem;
    color: #2d2d2d;
}

.contentBox{
    border: 2px solid rgba(0,0,0,0.3);
}

.sidebar .card-header{
    /*background-color: #184B69;*/ /*#56452E;*/
    background-image: linear-gradient(#1F597B, #063652);
    color: #fff;
    font-size:1.3em; 
    font-weight:bold;
    min-height: 49px;
}
.sidebar .card{
    background: #EAF7FF; /*#FFF3E3;*/
    border: 1px solid rgba(0,0,0,0.4);
}

.showMoreCard.card{
    background-color: #cecece;
    border: 1px solid #cecece;
}

.showMoreCard .card-body{
    background-image: linear-gradient(#fbffd4, #f7ffb1);
}

h2.subhead{
    color:#999;
    font-weight: 300;
    margin-bottom: 1rem;
}

.directional-text{
    font-style: italic;
    font-weight: bold;
}

.expandingPageContinueButton{
    background-color: #1E5D5D;
    color: #fff;
    border: 1px solid #0f4444;
    border-radius: 0;
    font-size: 1.75rem;
    padding-left: 55px;
    padding-right: 55px;
    opacity: 1;
    cursor: pointer;
}
.expandingPageContinueButton:focus{
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.6);
}
.expandingPageContinueButton:hover{
    color: rgba(255,255,255,0.8);
}

/*Had to add '.expandButtonIcon' for IE11, the icon was showing even when the button opacity was 0*/
.expandingPageContinueButton:disabled,
.expandingPageContinueButton:disabled .expandButtonIcon{
    opacity: 0;
}
.expandingPageContinueButton:disabled{
    cursor: default;
}

.expandButtonIcon{
    position: absolute;
    left: 20px;
    font-size: 45px;
    margin-top: -2px;
    color: #fff;
}

.sectionTitle{
    background-color: #172c51;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-top: 1px solid #405781;
    border-bottom: 1px solid #405781;
}
.sectionTitle h1{
    font-size: 2.1rem;
}

.forcedLearningIncompleteState{
    outline: 5px solid #d8780f !important;
}

/*When using a font icon over a button, make it unselectable, and not block mouse clicks*/
.button-icon,
.button-visited-icon{
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently                              supported by Chrome and Opera */
}

/*link text color inside popups and accordions that have a background color that makes default link color hard to read*/
/*div[id^="accordion"] a,
div.modal-content a{
    color: #00415c;
}*/

/*Tab and Popup buttons*/
.tab-container li a{
    padding: 10px 30px;
    margin: 1px;
    font-size: 1.2em;
    border-radius: 0;
}

/*Linked text that opens a popup, also a general course link color, can be different colors with a new rule*/
.linkToPopup,
.courseLinkColor{
    color: #0e46ad;
}

/*Popup button inside accordion, background color of accordion is same as default popup button color*/
/*div[id^="accordion"] .popup-container button.popup-button{
    background-color: #007aad;
}*/

/*The complete icon*/
.tab-container li .button-icon,
.popup-container .button-icon,
.button-visited-icon{
    display: inherit;
    position: absolute;
    color: #fff;
    margin: 0 6px;
    font-size: 20px;
    text-align: left;
}

/*A visited state class*/
.popupButtonVisitedState{
    background-color: #4d4d4d !important;
}
.popupButtonVisitedState:focus{
    box-shadow: inset 0 0 0 2px #313131 !important;
}

/*popups linked to text*/
a[data-toggle="modal"]{
    font-weight: bold;
    text-decoration: underline;
}
/*END Tab and Popup buttons*/

/*Tabs*/
.tab-container li a{
    text-transform: uppercase;
}

.tab-container a.nav-link{
    /*border-radius: 0;*/
    border-radius: 10px 10px 0 0;
    background-color: #403768;
    color: #fff;
}

/*The active tab*/
.tab-container .nav-link.active{
    background-color: #7060B5;
}

/*The tab content area*/
.tab-content{
    padding: 10px 20px;
    margin-top: -1px;
    border: 1px solid #403768;
    background-color: #e1e1e1;
}
/*END Tabs*/

/*Popups*/
.popup-button{
    background-color: #403768;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    margin: 1px 1px 5px 1px;
    padding: 10px 30px;
    font-size: 1.2em;
    border-radius: 0;
}

.popup-button:focus{
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.6);
}

.popup-button:hover{
    color: rgba(255,255,255,0.8);
}

/*Popup Box Borders*/
.popup-container .modal-content,
.popup-container .modal-header,
.popup-container .modal-footer{
    border-radius: 0;
    border: none;
}

/*Popup text color*/
.popup-container .modal-content{
    color: #000;
}

/*Popup title and close X color*/
.popup-container .modal-title,
.popup-container .close{
    color: #fff;
}

/*Popup close X*/
.popup-container .close{
    text-shadow: none;
    opacity: 1;
}

.popup-container .modal-header{
    background-color: #483E75;
}

.popup-container .modal-header,
.popup-container .modal-footer{
    padding: 8px 13px;
}

.popup-container .modal-body,
.popup-container .modal-footer{
    background-color: #e1e1e1;
}

.popup-container .modal-footer{
    justify-content: center;
}

.popup-container .second-close-btn{
    color: #fff;
    background-color: #483E75;
    border-radius: 0;
    /*margin: 0 auto;*/
}

/*END Popups*/

/*video*/
.video-container{
    margin: 0 auto 15px auto;
}

.video-caption{
    color: #484848;
    font-style: italic;
    text-align: center;
}

.video-js .vjs-big-play-button{
    font-size: 5em;
    background-color: #405781;
}

.video-js:hover .vjs-big-play-button{
    background-color: #163644;
}

div[id^="accordionVideoTranscript"] button[id^="videoTranscriptButton"][data-toggle="collapse"]{
    background-color: #272727;
    color: #fff;
}
#videoTranscriptButton:focus{
    box-shadow: inset 0 0 0 2px #575757;
}
#transcript-container{
    background-color: #585858;
    color: #fff;
}
#transcript-container *:last-child{
    margin-bottom: 1rem;
}

div#transcript-container,
.transcriptBox{
    max-height: 200px;
    overflow: auto;
}

/*END Video*/

/*Audio Only*/
/* Audio: Remove big play button (leave only the button in controls). */
.video-js.vjs-audio .vjs-big-play-button {
    display: none;
}
/* Audio: Make the controlbar visible by default */
.video-js.vjs-audio .vjs-control-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
/* Make player height minimum to the controls height so when we hide video/poster area the controls are displayed correctly. */
.video-js.vjs-audio {
    min-height: 3em;
}
/*END Audio Only*/

/*KBQs*/
.kbq-main{
    min-height: 450px;
}

.question-stem,
#kbq-select-prompt,
#kbq-feedback-box{
    font-size: 1.2em;
    font-weight: bold;
}

#kbq-submit,
.kbqSubmit{
    background-color: #172c51;
    color: #fff;
    font-size: 1.2em;
    padding: 7px 20px 9px 20px;
}

#kbq-submit:hover,
.kbqSubmit:hover{
    color: rgba(255,255,255,0.8);
}

#kbq-submit:focus,
.kbqSubmit:focus{
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.6);
}

.kbq-choices label{
    width: 100%;
    background-color: #172c51;
    color: #fff;
    font-size: 1.1em;
    padding: 10px 10px 10px 43px;
    margin: 8px auto;
    cursor: pointer;
}

.kbq-choices div.form-check{
    padding-left: 0;
    /*margin-left: 30px;*/
}

/*style of the incorrect answers when the question is complete*/
.kbq-choices .kbq-distractor-final{
    opacity: .5;
}

/*Hide radio buttons and checkboxes only visually, but have it available for screen readers: h5bp.com/v*/
.kbq-choices input[type="radio"],
.kbq-choices input[type="checkbox"] {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
}

.kbq-choices input[type="radio"] ~ .custom-checkbox,
.kbq-choices input[type="checkbox"] ~ .custom-checkbox{
    /*display: inline-block;*/
    position: absolute;
    top: 19px;
    left: 5px;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    background-color: #fff;
}

.kbq-choices input[type="radio"]:focus ~ .custom-checkbox,
.kbq-choices input[type="checkbox"]:focus ~ .custom-checkbox{
    outline: 2px solid rgba(255,255,255,0.6);
}

.kbq-choices input[type="radio"] ~ .custom-checkbox{
    border-radius: 100%;
}

.kbq-choices input[type="checkbox"] ~ .custom-checkbox{
    border-radius: 3px;
}

/*The selected state of the selection box*/
.kbq-choices input[type="radio"]:checked ~ .custom-checkbox,
.kbq-choices input[type="checkbox"]:checked ~ .custom-checkbox,
.kbq-choices input[type="radio"] ~ .custom-checkbox.selected-state,
.kbq-choices input[type="checkbox"] ~ .custom-checkbox.selected-state{
    background-color: #737373;
}
/*Fade out the check boxes when the question is complete*/
.kbq-choices input:disabled ~ .custom-checkbox{
    opacity: 0;
}

/*Choice icon feedback*/
.kbq-choices .choice-fb{
    position: absolute;
    top: 13px;
    left: 1px;
    width: 31px;
    text-align: center;
    font-size: 35px;
}

.kbq-choices .neg-fb-icon,
.matchingGroup .neg-fb-icon{
    color: #b73939;
}

.kbq-choices .pos-fb-icon,
.kbq-choices .missed-fb-icon,
.matchingGroup .pos-fb-icon,
.matchingGroup .missed-fb-icon{
    color: #1eeb28;
}

/*Matching KBQ*/
.matchingPair{
    margin: 0 15px 10px 15px;
    padding: 10px 0;
    border: 2px solid #0091ce;
    background-color: #fff;
}

.matchingGrapicFbCol{
    padding-right: 0;
    text-align: center;
}
.matchingGraphicFbIcon{
    font-size: 25px;
}

.matchingGraphicFbIcon.fas.fa-caret-right{
    font-size: 37px;
}

.matchingCorrectAnswerText{
    border: 1px solid #000;
    padding: 0 5px;
    margin: 5px 0 2px 0;
    width: 100%;
}
.matchinStaticText{
    margin: 0;
}
/*.matchingSelectCol{
    
}*/
/*END Matching KBQ*/

/*Speed Quiz KBQ*/
.speedQuizChoice,
.speedQuizGoBtn{
    color: #fff;
    border-radius: 0;
}

.speedQuizChoice{
    background-color: #0091ce;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 7px 30px;
}
.speedQuizGoBtn{
    background-color: #007aad;
    width: 80%;
    font-weight: bold;
}

.speedQuizInitChoiceText,
.speedQuizInitDefinitionText{
    font-style: italic;
}

.speedQuizDefinitionBox,
.speedQuizChoiceBox{
    border: 2px solid #0091ce;
    padding: 15px;
    background-color: #fff;
    height: 100%;
}
div[data-page-type="speedQuiz"] #feedback{
    text-align: center;
    font-size: 1.3em;
}

div[data-page-type="speedQuiz"] #feedbackRich{
    border: 1px solid #0091ce;
    background-color: #dbf4ff;
    margin: 25px 10px;
    padding: 10px;
}

div[data-page-type="speedQuiz"] .feedbackCorrectTerm{
    font-weight: bold;
    font-style: italic;
}

div[data-page-type="speedQuiz"] #progressbar{
    width: 100%;
    background-color: #fff;
    border: 2px solid #0091ce;
    height: 20px;
}

div[data-page-type="speedQuiz"] #progressIndicator{
    background-color: #0091ce;
    width: 0;
    height: 18px;
}

div[data-page-type="speedQuiz"] #timerGraphic{
    width: 150px;
    height: 206px;
    margin: 0 auto;
}

div[data-page-type="speedQuiz"] #timerGraphic #secondHand{
    position: relative;
    top: -139px;
    left: 73px;
    -ms-transform-origin: 50% 64px;
    -moz-transform-origin: 50% 64px;
    -webkit-transform-origin: 50% 64px;
    -o-transform-origin: 50% 64px;
    transform-origin: 50% 64px;
}

div[data-page-type="speedQuiz"] #timer{
    position: relative;
    top: -200px;
    text-align: center;
    font-size: 4em;
}

div[data-page-type="speedQuiz"] img#stopwatch,
div[data-page-type="speedQuiz"] img#secondHand{
    opacity: .5;
}

div[data-page-type="speedQuiz"] #timeLabel,
div[data-page-type="speedQuiz"] #progress{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 5px;
}

div[data-page-type="speedQuiz"] .neg-fb-icon,
div[data-page-type="speedQuiz"] .pos-fb-icon,
div[data-page-type="speedQuiz"] .missed-fb-icon{
    position: absolute;
    left: 0;
    margin: 7px 37px;
    font-size: 25px;
}

div[data-page-type="speedQuiz"] .neg-fb-icon{
    color:#e35656;
}

div[data-page-type="speedQuiz"] .pos-fb-icon,
div[data-page-type="speedQuiz"] .missed-fb-icon{
    color:#1eeb28;
}


/*END Speed Quiz KBQ*/

/*KBQ Sequence*/
.questionStepDivider{
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 20px;
    padding-top: 15px;
}

.kbqSequenceFeedbackContainer{
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #172c51;
    background-color: #c5d2e7;
    font-weight: bold;
    font-size: 1.2rem;
}

/*.kbqSequenceFeedbackContainer div p:last-of-type{
    margin-bottom:0;
}*/
/*END KBQ Sequence*/

/*END KBQs*/

/*KBQ Story*/
.storyContainer{
	color: #000;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #172c51;
    background-image: linear-gradient(rgb(253, 254, 255), rgb(234, 247, 255));
    font-weight: bold;
    font-size: 1.2rem;
}

div.storyCarousel{
    background-image: linear-gradient(rgb(253, 254, 255), rgb(234, 247, 255));
    min-height: 300px;
}

.storyCarousel-item{
    padding: 0 50px 78px 50px;
}

.storyCarousel-item h2{
    font-size: 1.8em;
    font-weight: 300;
    text-align: center;
    margin: 0 -50px 15px -50px;
    padding: 10px;
    background-color: #172c51;
}

.storyCarousel-indicators li{
	background-color: #74a4d9;
}

.story-kbq-choices label{
background-color: #312a4f;	
}

.story-kbqSubmit {
background-color: #312a4f;	
}

.story-kbqSequenceFeedbackContainer{
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #312a4f;
    background-color: #8178aa;
    font-weight: bold;
    font-size: 1.2rem;
}

.story-next, .story-prev {
	max-width: 50px;
}

/*.kbqCarouselIndicatorDisabled is used by vsLib.js to disable clicking on carousel indicators when a KBQ series is in a carousel.*/
.carousel-indicators li.kbqCarouselIndicatorDisabled{
    cursor: default;
    pointer-events: none;
    opacity: .2;
}

.bounceButton {
  -webkit-animation: bounce 1.2s infinite alternate;
  -moz-animation: bounce 1.2s infinite alternate;
  animation: bounce 1.2s infinite alternate;
  animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  /* -webkit-animation-iteration-count: 4;
  -moz-animation-iteration-count: 4;
  animation-iteration-count: 4; */
}
@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.8);}
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.8);}
}
@keyframes bounce {
  to { transform: scale(1.8);}
}

/*END KBQ Story*/

/*Accordion*/
div[id^="accordion"] button[data-toggle="collapse"]:hover{
    color: rgba(255,255,255,0.8);
}

div[id^="accordion"] button[data-toggle="collapse"]:focus{
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.6);
}

div[id^="accordion"] button[data-toggle="collapse"]{
    background-color: #403768;
    color: #fff;
    white-space: normal;
    padding: 12px 54px;
    margin: 2px 0;
    border-radius: 0;
    font-size: 1.2em;
    font-weight: 600;
}
div.buttonUnit{
    position: relative;
}
div[id^="accordion"] > div > div.button-icon{
    position: absolute;
    display: table;
    border: 1px solid #403768;
    color: #403768;
    font-size: 24px;
    background-color: #fff;
    width: 40px;
    height: 100%;
    top: 0;
    bottom: 0;
    text-align: center;
}

/*vertically center the visited icon*/
div[id^="accordion"] > div > div.button-icon > span[style*="display"]{
    display: table-cell !important;/*override the display style added inline by jquery*/
    vertical-align: middle;
}

div[id^="accordion"] .card-header{
    background-color: #0091ce;
}

div[id^="accordion"] button[aria-expanded="false"]{
    margin-bottom: 2px;
}

div[id^="accordion"] button[aria-expanded="true"]{
    margin-bottom: 0;
}

div[id^="accordion"] button[aria-expanded="true"].coursePrimaryBtnColor{
    background-color: #182d57;
}

div[id^="accordion"] button[aria-expanded="false"] .accordionVertArrow{
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

div[id^="accordion"] button[aria-expanded="true"] .accordionVertArrow{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordionVertArrow{
    pointer-events: none;
    display: inline-block;
    position: absolute;
    right: -16px;
    color: #b2b2b2;
    margin: 0 29px 0 0;
    font-size: 35px;
    transition: transform ease-in-out 0.25s;/*transition when aria-expanded changes*/
}

div[id^="accordion"] .card{
    margin-bottom: 0;
    border: none;
}

div[id^="accordion"] div.card-body{
    background-color: #e1e1e1;
    border-radius: 0;
    padding: 12px;
    border: 1px solid #403768;
    border-top: none;
}
/*END Accordion*/

/*Carousel/Timeline*/
div.carousel{
    background-color: #483E75;
    color: #fff;
    min-height: 300px;
}

.carousel-item{
    padding: 0 50px 78px 50px;
}

.carousel-item h2{
    font-size: 1.8em;
    font-weight: 300;
    text-align: center;
    margin: 0 -50px 15px -50px;
    padding: 10px;
    background-color: #312A4F;
}

/*END Carousel/Timeline*/

/*
Wrapper Styles
*/
#wrapper-container.container{
    padding: 0;
    margin: 0 auto 20px auto;
    background: #fff;
    overflow: hidden;
}

/*wrapper header and footer common styles*/
#wrapper-container .header,
#wrapper-container .footer{
    background-color: #405781;
}
/*wrapper header*/
#wrapper-container .header{
    /*background-color: #0091ce;*/
    height: 103px;
    min-height: 103px;
    display: table;
}

.wrapperHeaderTextContainer,
.wrapperHeaderMenuButtonContainer,
.wrapperHeaderSealContainer{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.wrapperHeaderText{
    color: #fff;
    margin: 0;
    /*padding: 5px 27px 8px 0;*/
    width: 100%;
    font-size: 2.6em;
    font-weight: 600;
    text-align: left;
}

#wrapper-container #options-menu-button{
    height: 100%;
    width: 54px;
    color: #dfdfdf;
    background-color: #405781;
}

#wrapper-container #menuButtonToggleContent{
    background-color:#405781;
}

#wrapper-container .wrapperMenu button{
    background-color: #132a53;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
}

/*Wrapper footer*/
#wrapper-container .footer, 
#wrapper-container .footer .col{
    min-height: 35px;
}

#wrapper-container .footer button{
    color: #fff;
    background-color: #132a53;
    padding: 0 0 2px 0;
    margin: 0;
    min-width: 93px;
    height: 35px;
    text-transform: uppercase;
    font-size: 1.3em;
}

#wrapper-container .footer button:disabled,
#wrapper-container .footer button.disabled{
    opacity: 0.45;
}

#wrapper-container .footer button:focus,
#wrapper-container .header button:focus,
#wrapper-container .wrapperMenu button:focus{
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
}

#wrapper-container #pageNumber,
#wrapper-container #pageNumber button{
    display: inline-block;
    width: 130px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-top: 4px;
}

#wrapper-container #pageNumber button{
    font-size: 1em;
    border: none;
    margin-top: -4px;
    background-color: rgba(0,0,0,0);
    width:100%;
}

#wrapper-container #pageNumber>.dropdown-menu{
    text-transform: none;
    width: 250px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#wrapper-container #pageNumber>.dropdown-menu .pageMenuHeader{
    font-size: 1.2em;
    text-align: center;
    color: #323232;
}

#wrapper-container #pageNumber>.dropdown-menu>#menuPageList{
    position: relative;
    top:0;
    max-height: 250px;
    overflow-x: hidden;
}

#wrapper-container #pageNumber>.dropdown-menu>#menuPageList>.dropdown-item{
    white-space: normal;
}

.pageMenuCompleteMarker{
    position: absolute;
    left: 4px;
    margin-top: 4px;
    color: #00D200;
}

#wrapper-container #pageNumber>.dropdown-menu>#menuPageList>.dropdown-item.disabled{
    color: #adadad;
}

#wrapper-container #pageNumber>.dropdown-menu>#menuPageList>.dropdown-item.disabled:hover,
#wrapper-container #pageNumber>.dropdown-menu>#menuPageList>.dropdown-item.active:hover
{
    cursor: default;
}

#wrapper-container #classification_header{
    text-align: right;
    margin-bottom: 1px;
}

#wrapper-container #classification_header,
#wrapper-container #classification_footer{
    position: absolute;
    background-color: #fff;
    color: #00cc33;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7pt;
    line-height: 1.1;
    padding: 2px;
    border: 1px solid #405781;
    width: 100%;
}

#wrapper-container #classification_header{
    top: -1px;
}

#wrapper-container #classification_footer{
    bottom: 0;
}

.wrapperIncompleteNextPrompt,
.wrapperCompleteNextPrompt{
    color: #fff;
    font-size: 1.3rem;
    padding: 3px 20px;
    text-align: center;
}
.wrapperIncompleteNextPrompt{
    background-color: #ae5f09;
}
.wrapperCompleteNextPrompt{
    background-color: #044545;
}
.wrapperIncompleteNextPrompt p:last-of-type,
.wrapperCompleteNextPrompt p:last-of-type{
    margin-bottom: 0;
}

/*Button over transition effect: Thin line at bottom of button*/
/*Line expands out from center*/
button span.bottom-line-over-effect{
    display: block;
    background-color: rgba(255,255,255, 0.6);
    width: 0;
    height: 3px;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    margin: 0 auto;
}
/*Line expands out from left to right*/
button span.bottom-line-over-effect.l-to-r{
    margin:0;
}
/*Line expands out from right to left*/
button span.bottom-line-over-effect.r-to-l{
    margin:0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.desktopFlag button:enabled:hover span.bottom-line-over-effect{
    width: 100%;
}
.desktopFlag button.disabled:hover span.bottom-line-over-effect{
    width: 0;
}
/*END Button over transition effect: Thin line at bottom of button*/

/*Truncated content activity*/
.trunHide,
.trunHide.trunFull.visited::before{
    color: #4e4e4e;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
}

.trunHide:hover{
    cursor: pointer;
}

.trunHide.visited::before{
    color: #390096;
}

.trunHide::before {
	content: "... SHOW MORE";
}

.trunFull::before {
	content: " SHOW LESS";
}
/*END trucated content activity*/

/*Box used on first page of course to display a message about icons*/
.iconInfoBox{
    background-color: rgba(255,255,255,0.4);
    /*margin: 5px 0;
    padding-top: 10px;*/
    border: 2px solid #000;
}
.iconBox{
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 10px;
}
.iconBox i{
    font-size: 40px;
}