<?xml version="1.0" encoding="UTF-8"?><html><head><link href="styles/uiTemplate.css" type="text/css" rel="stylesheet"/></head><body><div id="classification">
        
            <a xmlns:h="http://www.w3.org/1999/xhtml" onclick="return false;" id="classification_header" href="#">Classification Header</a>
            <a xmlns:h="http://www.w3.org/1999/xhtml" onclick="return false;" id="classification_footer" href="#">Classification Footer</a>
            <a xmlns:h="http://www.w3.org/1999/xhtml" onmouseout="this.getElementsByTagName('img')[0].src='media/swatch_pixel.png'" onmouseover="this.getElementsByTagName('img')[0].src='media/swatch_pixel.png'" onclick="return false;" id="classification_source" href="#"><img height="1" width="1" title="" alt="" src="media/swatch_pixel.png"/></a>
        
    </div><div id="nav">
        
            <a xmlns:h="http://www.w3.org/1999/xhtml" onmouseout="this.getElementsByTagName('img')[0].src='media/swatch_UI_btn-next-up.png'" onmouseover="this.getElementsByTagName('img')[0].src='media/swatch_UI_btn-next-hover.png'" onclick="nextPage();return false;" id="nav_next" href="#"><img height="20" width="65" title="next" alt="next" src="media/swatch_UI_btn-next-up.png"/></a>
            <a xmlns:h="http://www.w3.org/1999/xhtml" onmouseout="this.getElementsByTagName('img')[0].src='media/swatch_UI_btn-back-up.png'" onmouseover="this.getElementsByTagName('img')[0].src='media/swatch_UI_btn-back-hover.png'" onclick="parent.back();return false;" id="nav_back" href="#"><img height="20" width="65" title="back" alt="back" src="media/swatch_UI_btn-back-up.png"/></a>
        
    </div><div id="subnav"><ul>
        
            <li xmlns:h="http://www.w3.org/1999/xhtml" id="subnav_help"><a onmouseout="this.getElementsByTagName('img')[0].src='media/swatch_UI_btn-help-up.png'" onmouseover="this.getElementsByTagName('img')[0].src='media/swatch_UI_btn-help-hover.png'" onclick="swatch_help.html" id="subnav_help" href="#"><img height="20" width="45" title="help" alt="help" src="media/swatch_UI_btn-help-up.png"/></a></li>
            <li xmlns:h="http://www.w3.org/1999/xhtml" id="subnav_glossary"><a onmouseout="this.getElementsByTagName('img')[0].src='media/swatch_UI_btn-glossary-up.png'" onmouseover="this.getElementsByTagName('img')[0].src='media/swatch_UI_btn-glossary-hover.png'" onclick="swatch_glossary.html" id="subnav_glossary" href="#"><img height="20" width="85" title="glossary" alt="glossary" src="media/swatch_UI_btn-glossary-up.png"/></a></li>
            <li xmlns:h="http://www.w3.org/1999/xhtml" id="subnav_resources"><a onmouseout="this.getElementsByTagName('img')[0].src='media/swatch_UI_btn-resources-up.png'" onmouseover="this.getElementsByTagName('img')[0].src='media/swatch_UI_btn-resources-hover.png'" onclick="swatch_resources.html" id="subnav_resources" href="#"><img height="20" width="95" title="resources" alt="resources" src="media/swatch_UI_btn-resources-up.png"/></a></li>
        
    </ul></div><div id="audiocontrols"><ul>
        
            <li xmlns:h="http://www.w3.org/1999/xhtml" id="audio_transcript"><a onmouseout="this.getElementsByTagName('img')[0].src='media/swatch_UI_btn-script-up.png'" onmouseover="this.getElementsByTagName('img')[0].src='media/swatch_UI_btn-script-hover.png'" onclick="showTranscript();return false;" id="audio_transcript" href="#"><img height="20" width="100" title="transcript" alt="transcript" src="media/swatch_UI_btn-script-up.png"/></a></li>
        
    </ul></div>
        
            <div xmlns:h="http://www.w3.org/1999/xhtml" id="title_page"><h3>Page Title</h3></div>
            <div xmlns:h="http://www.w3.org/1999/xhtml" id="pageNumber">Page ## of ##</div>
        
    <img xmlns:h="http://www.w3.org/1999/xhtml" title="background" alt="background" src="media/swatch-UI_BG.png" style="z-index: -2;" id="background"/></body></html>