body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#header {
    width: 100%;
    height: 61px;
    background-color: #C0AFC9;
    /*background: transparent url('../media/header_background.png') top left no-repeat;*/
    position: relative;
}
#title {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #5E3564;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#banner {
    position: absolute;
    right: 0;
    height: 50px;
    width: 180px;
    background: transparent url('../media/banner.png') top left no-repeat;
}
#header_menu {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 0 0 0 10px;
}
#header_menu li {
    float: left;
    height: 18px;
    margin: 0 5px 0 0px;
}
#header_menu li a {
    background: transparent url('../media/button_left.jpg') top left no-repeat;
    text-align: center;
    text-decoration: none;
    color: #000000;
    height: 100%;
    margin-top: 0;
    display: block;
}
#header_menu li a span {
    background: transparent url('../media/button_right.jpg') top right no-repeat;
    cursor: pointer;
    height: 100%;
    margin-top: 0px;
    padding: 1px 30px 0 18px;
    display: block;
}
#header_menu #previousBtn a {
    background: transparent url('../media/button_left_arrow.jpg') top left no-repeat;
}
#header_menu #previousBtn a span {
    padding: 1px 15px 0 30px;
}
#header_menu #startBtn a span,
#header_menu #resumeBtn a span,
#header_menu #nextBtn a span,
#header_menu #helpBtn a span {
    background: transparent url('../media/button_right_arrow.jpg') top right no-repeat;
}
#header_menu #suspendBtn a span {
    background: transparent url('../media/button_right_square.jpg') top right no-repeat;
}
#header_menu #exitBtn a span {
    background: transparent url('../media/button_right_x.jpg') top right no-repeat;
}
#header_menu #startBtn a:hover,
#header_menu #resumeBtn a:hover,
#header_menu #previousBtn a:hover,
#header_menu #nextBtn a:hover,
#header_menu #suspendBtn a:hover,
#header_menu #helpBtn a:hover,
#header_menu #exitBtn a:hover {
    color: red;
}
#header_menu #previousBtn a:hover {
    background: transparent url('../media/button_left_arrow_active.jpg') top left no-repeat;
}
#header_menu #previousBtn a:hover span {
    padding: 1px 15px 0 30px;
}
#header_menu #startBtn a:hover span,
#header_menu #resumeBtn a:hover span,
#header_menu #nextBtn a:hover span,
#header_menu #helpBtn a:hover span {
    background: transparent url('../media/button_right_arrow_active.jpg') top right no-repeat;
}
#header_menu #suspendBtn a:hover span {
    background: transparent url('../media/button_right_square_active.jpg') top right no-repeat;
}
#header_menu #exitBtn a:hover span {
    background: transparent url('../media/button_right_x_active.jpg') top right no-repeat;
}
#shell {
    min-width: 980px;
    height: 100%;
}
.open {
    display: block;
}
.closed {
    display: none;
}
#course_menu {
    float: left;
    font-weight: bold;
    width: 273px;
    margin-top: 10px;
    padding: 5px;
}
#course_menu ul {
    padding-left: 6px;
}
#course_menu li {
    padding-left: 20px;
    margin-bottom: 5px;
    clear: both;
}
#course_menu li.folder {
    background: transparent url('../media/folder.png') 0px 0px no-repeat;
    padding-left: 35px;
    padding-top: 3px;
}
#course_menu li.folder > ul {
    margin-left: -26px;
}
#course_menu li.folder a.folder {
    color: #996699;
    text-decoration: none;
    margin-bottom: 3px;
    display: block;
}
#course_menu li.disabled,
#course_menu li.unvisited {
    background: transparent url('../media/icon_unvisited.jpg') 5px 4px no-repeat;
}
#course_menu li.disabled a {
    color: #996699;
    text-decoration: none;
}
#course_menu li.unvisited a {
    color: #000000;
    text-decoration: underline;
}
#course_menu li.incomplete,
#course_menu li.suspend {
    background: transparent url('../media/icon_incomplete.jpg') 5px 4px no-repeat;
}
#course_menu li.incomplete a {
    color: #000000;
    text-decoration: underline;
}
#course_menu li.complete {
    background: transparent url('../media/icon_complete.jpg') 5px 4px no-repeat;
}
#course_menu li.complete a {
    color: #000000;
    text-decoration: underline;
}
#course_menu li.active {
    background-color: #E4FAFC;
    border: 2px solid #000000;
}
#course_menu li.passed {
    background: transparent url('../media/icon_passed.png') 5px 4px no-repeat;
}
#course_menu li.passed a {
    color: #000000;
    text-decoration: underline;
}
#course_menu li a span {
    float: right;
    text-align: left;
    width: 175px;
    padding-bottom: 10px;
}
#content {
    height: 100%;
    min-width: 762px;
}
#mainFrame {
    width: 762px;
    height: 654px;
    border-width: 0;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    overflow: hidden;
}
.off {
    display: none;
}
.on {
    display: block;
}