/* TYPO.CSS - Typography */
/*font: font-style | font-variant | font-weight | font-size | line-height | font-family*/

body { font: .85em/140% Arial, Helvetica, sans-serif;}

.caption { font-size: .85em;}

.footnote { font-size: .8em; line-height: 14px;}

#graphic .description { font-size: .85em;}

#kc-feedback { font: bold 1em Arial, Helvetica, sans-serif;}
.kc-container a { font: normal 1em Geneva, Arial, Helvetica, sans-serif; text-decoration: none;}
.kc-answers th, .kc-answers td { text-align: left;}
.kc-question { font: bold 1em Arial, Helvetica, sans-serif;}
.kc_letter { font-weight: bold;}

#mainmenu ul li.disabled a { text-decoration: none;}

#pagecount{ font: normal .8em Arial, Helvetica, sans-serif;}
.popup #close { font: bold .85em Arial, Helvetica, sans-serif;}

#question_header_static { font-size: 10px;}

.simbox h4 { font: bold 1.3em Georgia, "Times New Roman", Times, serif;}

ul#posttest_menu .TLO_message { font-size: 11px; font-style: italic; font-weight: normal;}
ul#posttest_menu li.Unattempted { font-weight: normal;}
ul#posttest_menu li.Failed { font-weight: bold;}
ul#posttest_menu li.Passed { font-weight: bold;}

.underline { text-decoration: underline;}