.bodyText {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}
.title {
  color: #2d4f6d; 
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-display: block; 
  font-weight: bold;
}
.hyperlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003399;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: underline;
	text-transform: none;