* { 
    margin: 0px; 
    padding:0px; 
    border:0px none;
}

#container{
    /*background: url('images/CTIP_InterfaceShell_1000x600.jpg') no-repeat;*/
    background-image: url(images/diagonalLinePattern.png);
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #74a4d9;
    
    position: relative;
    width: 1000px;
    height: 723px;
    border: none;
    margin: 0 auto;
    padding: 0;
}

#content {
    overflow:hidden;
    padding:0px;
    margin:0px;
    position: absolute;
    top:51px;
    width:1000px;
    height:600px;
}

.pageContent{
    width: 1000px;
    height: 600px;
    overflow: hidden;
}

#pageTitle{
    position: absolute;
    overflow: auto;
    width: 980px;
    height: 30px;
    left: 17px;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 15pt;
    line-height: 1;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#pageNumber{
    position: absolute;
    overflow: auto;
    width: 100px;
    height: 20px;
    left: 802px;
    top: 690px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.85em;
    font-weight: normal;
    text-align: center;
    line-height: 1;
}

#classification_header, #classification_footer{
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #66D23F;
    font-size: 7pt;
    line-height: 1;
    letter-spacing: -0.03em;
    -webkit-transform: scale(-2);
    -ms-transform: scale(-2);
    -moz-transform: scale(-2);
    transform: scaleX(0.9);
}

#classification_header{
    top: 39px;
    left: 913px;
    text-align: right;
}

#classification_footer{
    top: 654px;
    left: 0;
    text-align: left;
}

/*Buttons*/
button{
    margin: 0;
    padding: 0;
    border: 0;
}
button:hover{
    cursor: pointer;
}

/*this removes the focus outline on buttons in firefox*/
button::-moz-focus-inner{
    border: 0;
    outline: 0; 
}

button:focus{
    outline: 1px dotted #c4c4c4;
}

#shellButtons{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 680px;
    left: 0;
}

#shellButtons button{
    position: absolute;
}

#shellButtons button img{
    position: absolute;
    top: 0;
    left: 0;
}

#nav_next{
    left: 906px;
}

#nav_back{
    left: 705px;
}

#subnav_help{
    left: 59px;
}

#subnav_glossary{
    left: 256px;
}

#subnav_resources{
    left: 149px;
}

#subnav_508{
    left: 0;
}

#audio_transcript{
    left: 351px;
}

#pageControl_play{
    left:403px;
}

#pageControl_pause{
    left:504px;
}

#pageControl_rewind{
    left:605px;
}

#nav_next, #nav_next img,
#nav_back, #nav_back img{
    width: 94px;
    height: 31px;
}

#pageControl_pause, #pageControl_pause img,
#pageControl_play, #pageControl_play img,
#pageControl_rewind, #pageControl_rewind img{
    width: 99px;
    height: 31px;
}

#subnav_resources, #subnav_resources img{
    width: 106px;
    height: 31px;
}

#subnav_glossary, #subnav_glossary img{
    width: 94px;
    height: 31px;
}

#subnav_help, #subnav_help img{
    width: 89px;
    height: 31px;
}

#audio_transcript, #audio_transcript img{
    width: 50px;
    height: 31px;
}

#subnav_508, #subnav_508 img{
    width: 53px;
    height: 31px;
}

#transcriptBox{
    position: absolute;
    top:514px;
    left: 0;
    width: 1000px;
    height: 154px;
    background-color: #ffffff;
}

#transcriptText{
    margin: 13px 2px 10px 2px;
    padding: 5px;
    height: 127px;
    background-color: #FFF;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    overflow-y: auto;
    cursor: default;
    opacity: 1;
}
#transcriptText p, #transcriptText ul, #transcriptText ol{
    margin-bottom: 15px;
}

#transcriptText ul, #transcriptText ol{
    margin-left: 30px;
}

#transcriptText ul ul, #transcriptText ul ol,
#transcriptText ol ul, #transcriptText ol ol{
    margin-top: 15px;
}

#transcriptClose{
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 11px;
}

#transcriptClose img{
    position: absolute;
    top: 0;
    left: 0;
}

#progressBar{
    position: absolute;
    top: 60px;
    left: 0;
    width: 1000px;
    height: 3px;
    background-color: #ff0000;
}

.hidden{
    display: none;
}