body {
	width: 900px;
	padding: 20px;
	color: #262626;
	font-family: Arial;
	font-size: 16px;
}
h2, p{
	margin: 15px 0 0 0;
}
h2{
	font-weight: normal;
	border-bottom: 3px solid darkslategrey;
	margin: 3px 0 0 0;
}
#transcript-Title {
    background: #281E34;
    padding: 20px 15px 15px 20px;
    border-bottom: 1px solid navy;
	border-radius: 10px 10px 0 0;
    color: white;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}
#transcript-Body{
	height: 600px;
	overflow-y: scroll;
	padding: 20px 20px 10px 10px;
}
.cont{
	background: #f4f6f7;
	padding: 0 0 20px 10px;
	border-top: 1px solid white;
	border-radius: 0 0 10px 10px;
	line-height: 1.4;
}

