
    
	input {
 		border:1px solid;
 	}

 	select {
 		border:1px solid;
 	}   	
    
    #dlink {position:absolute; top:-120px;}		
	
    
    	#Text_701814 {
        position:absolute;
        overflow-x:visible;
        
        padding:0px;
        margin:0px;
        width:1px;
        height:1px;
        left:650px;
        top:540px;
        
    }
    
    
    	#Text_701814 UL {
        margin-left: 40px; 
        padding-left: 0;
    }

    
    	#Text_701814 OL {
        margin-left: 40px; 
        padding-left: 0;
    }
    
    
    	#Text_701815 {
        position:absolute;
        overflow-x:visible;
        
        padding:0px;
        margin:0px;
        width:1px;
        height:1px;
        left:650px;
        top:540px;
        
    }
    
    
    	#Text_701815 UL {
        margin-left: 40px; 
        padding-left: 0;
    }

    
    	#Text_701815 OL {
        margin-left: 40px; 
        padding-left: 0;
    }
    
    
    	#Flash_700127 {
        position:absolute;
        overflow-x:visible;
        
        padding:0px;
        margin:0px;
        width:760px;
        height:530px;
        left:0px;
        top:0px;
        
    }
    
    